<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div class="container">
        <div class="row">
            <div class=" col-md-5">
                <form #form="ngForm" novalidate>  <!--wpisujemy novalidate aby usunac walidacje przegladarkowa-->

                    <!--klasa has-error wystapi gdy zajda okreslone warunki (nie spełniło warunkow walidacji html5)
                     (została dotknięta i porzucona ) zmieni się wtedy wygląd zobacz jak to bedzie działaś
                     z tymi twoimi placeholderami ewentualnie dodać tam nową klase w css tym placeholderowym aby sie zmieniało
                     np na czerwono obramowanie czy cośtam-->

                    <div class="form-group" [class.has-error]="(userName.invalid && userName.touched) || isUsernameTaken ">
                        <label class="control-label" for="idUsername">Login</label>
                        <input #userName="ngModel"
                               pattern="....+"
                               maxlength="25"
                               type="text"
                               class="form-control"
                               name="userAccountToAdd.username"
                               required
                               [(ngModel)]="userAccountToAdd.username"
                               (blur)="checkIfUsernameIsTaken()"
                               id="idUsername">
                        <!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
                        <div *ngIf="userName.invalid && userName.touched" class="alert alert-danger" role="alert">
                            Login musi się składać od 4 do 25 liter.
                        </div>
                        <div *ngIf="isUsernameTaken" class="alert alert-danger" role="alert">
                            Podany login jest już zajęty.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="userPassword.invalid && userPassword.touched">
                        <label class="control-label">Hasło</label>
                        <input #userPassword="ngModel"
                               pattern="......+"
                               type="password"
                               maxlength="100"
                               required
                               class="form-control"
                               name="userAccountToAdd.password"
                               (blur)="checkIfPasswordsAreSame()"
                               [(ngModel)]="userAccountToAdd.password">
                        <div *ngIf="userPassword.invalid && userPassword.touched" class="alert alert-danger"
                             role="alert">
                            Hasło musi się składać z przynajmniej 6 liter.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="(confirm.invalid && confirm.touched) || passwordsDiffer">
                        <label class="control-label">Potwierdź hasło</label>
                        <input #confirm="ngModel"
                               pattern="......+"
                               type="password"
                               maxlength="100"
                               class="form-control"
                               required
                               name="confirmPassword"
                               (blur)="checkIfPasswordsAreSame()"
                               [(ngModel)]="confirmPassword">
                        <div *ngIf="confirm.invalid && confirm.touched" class="alert alert-danger" role="alert">
                            Hasło musi się składać z przynajmniej 6 liter.
                        </div>
                        <div *ngIf="passwordsDiffer" class="alert alert-danger" role="alert">
                            Hasła się różnią.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="(email.invalid && email.touched) || isEmailTaken">
                        <label class="control-label">E-mail</label>
                        <input #email="ngModel"
                               type="email"
                               maxlength="45"
                               required
                               pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$"
                               class="form-control"
                               name="userAccountToAdd.email"
                               (blur)="checkIfEmailIsTaken()"
                               [(ngModel)]="userAccountToAdd.email">
                        <div *ngIf="email.invalid && email.touched" class="alert alert-danger" role="alert">
                            Ten E-mail jest niepoprawny.
                        </div>
                        <div *ngIf="isEmailTaken" class="alert alert-danger" role="alert">
                            Podany E-mail jest już zajęty.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="country.invalid && country.touched">
                        <label class="control-label">Kraj</label>
                        <select #country="ngModel"
                               required
                               class="form-control"
                               name="userAccountToAdd.country"
                               [(ngModel)]="userAccountToAdd.country">
                            <option *ngFor="let item of countries" [value]="item">{{item}}</option>
                        </select>
                        <div *ngIf="country.invalid && country.touched" class="alert alert-danger" role="alert">
                            Nazwa kraju musi składać się z przynajmniej 4 liter.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="(nick.invalid && nick.touched) || isNickTaken">
                        <label class="control-label">Nick</label>
                        <input #nick="ngModel"
                               type="text"
                               required
                               pattern="^[a-zA-Z0-9_-]{4,}"
                               maxlength="45"
                               class="form-control"
                               name="userAccountToAdd.nick"
                               (blur)="checkIfNickIsTaken()"
                               [(ngModel)]="userAccountToAdd.nick">
                        <div *ngIf="nick.invalid && nick.touched" class="alert alert-danger" role="alert">
                            Nick musi składać się z przynajmniej 4 znaków (a-z, 0-9, -, _).
                        </div>
                        <div *ngIf="isNickTaken" class="alert alert-danger" role="alert">
                            Podany nick jest już zajęty.
                        </div>
                    </div>

                    <div class="checkbox" [class.has-error]="isRegAccepted">
                        <label>
                            <input type="checkbox" name="acceptedRegulaions" [(ngModel)]="acceptedRegulaions">
                            <p class="lead">
                                <small>Akceptuje Regulamin.</small>
                            </p>
                        </label>
                        <div *ngIf="isRegAccepted" class="alert alert-danger" role="alert">
                            Musisz zaakceptować regulamin użytkowania.
                        </div>
                    </div>


                    <div class="checkbox " [class.has-error]="isMarketAccepted">
                        <label>
                            <input type="checkbox" name="acceptedMarketingRules" [(ngModel)]="acceptedMarketingRules">
                            <p class="lead">
                                <small>Zgadzam się na przetwarzanie moich danych osobowych do celów marketingowych.
                                </small>
                            </p>
                        </label>
                        <div *ngIf="isMarketAccepted" class="alert alert-danger" role="alert">
                            Musisz zgodzić się na przetwarzanie twoich danych osobowych.
                        </div>
                    </div>

                    <div *ngIf="isPassNotEqual" class="alert alert-danger" role="alert">
                        Hasła są różne!
                    </div>
                    <div *ngIf="!validationResult" class="alert alert-danger" role="alert">
                        Błędne dane.
                    </div>

                    <div>
                        <recaptcha
                                (resolved)="resolved($event)"
                                siteKey="6Le1ACYUAAAAAKmYDSLyh47BghFTpL2FCObFxtZA"
                                #captcha="ngModel"
                                ngModel
                                required
                                name="captcha" ></recaptcha>
                    </div>
                    <div *ngIf="captcha.invalid && captcha.touched && !isCaptchaVerified" class="alert alert-danger" role="alert">
                        Błąd captcha.
                    </div>

                    <button type="submit" class="btn btn-default"
                            (click)="createUserAccount(userAccountToAdd);">OK
                    </button>

                </form>
            </div>
        </div>
    </div>




