
<div class="row">
	<navbar></navbar>
</div>
<div class="row">
	<div id="wrapper">
		<!-- <div class="col-md-1"> -->
		<!-- <div id="sidebar-wrapper">-->
		<div id="box">
			<side-navbar></side-navbar>
		</div>
		<!-- </div> -->
		<!-- <div class="col-md-11"> -->
		<!-- <div id="page-content-wrapper"> -->
		<div id="main">
			<router-outlet></router-outlet>
		</div>
		<!-- </div>   -->


	</div>
</div>

