<div class="container">
    <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
    <div class="row">
        <div class="col-md-12">
            <div class="well-kitchen">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                        <form #eventCreateForm="ngForm" novalidate><!-- we disable browser walidation -->
                            <!--choose an event type, then show proper inputs -->
                            <div class="form-group">
                                <label for="eventkind">Rodzaj wydarzenia</label>
                                <select class="form-control" [(ngModel)]="typeOfEvent"
                                        name="typeOfEvent" id="eventkind">
                                    <option [value]="1">Uczta dla innych</option>
                                    <option [value]="2">Wspólne gotowanie</option>
                                </select>
                            </div>

                            <!--t1 -> event type 1-->
                            <div *ngIf="typeOfEvent==1">
                                <div class="form-group" [class.has-error]="titlet1.invalid && titlet1.touched">
                                    <label class="control-label">Tytuł wydarzenia</label>
                                    <input #titlet1="ngModel"
                                           minlength="1"
                                           maxlength="255"
                                           type="text"
                                           required
                                           class="form-control"
                                           (keypress)="newEventType1.title = toUppercase(newEventType1.title)"
                                           [(ngModel)]="newEventType1.title"
                                           name="newEventType1.title">
                                    <div *ngIf="titlet1.invalid && titlet1.touched" class="alert alert-danger"
                                         role="alert">
                                        Tytuł wydarzenia nie może być pusty.
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6"
                                         [class.has-error]="(timet1.invalid && timet1.touched) || !isTimeValid">
                                        <label class="control-label">Godzina</label>

                                        <input
                                                [(ngModel)]="newEventType1.time" ngui-datetime-picker
                                                date-format="HH:mm"
                                                parse-format="HH:mm:ss"
                                                hour="23"
                                                minute='59'
                                                [time-only]="true"
                                                [close-on-select]="false"
                                                name="newEventType1.time"
                                                (popupClosed)="checkIfTimeIsCorrect(newEventType1.time)"
                                                #timet1="ngModel"
                                                class="form-control"/>
                                    </div>
                                    <!--<div class="form-group col-md-6"
                                         [class.has-error]="datet1.invalid && datet1.touched">
                                        <label class="control-label">Data</label>
                                        <input #datet1="ngModel"
                                               type="date"
                                               required
                                               class="form-control"
                                               [(ngModel)]="newEventType1.date"
                                               name="newEventType1.date">
                                    </div>-->
                                    <div class="form-group col-md-6" [class.has-error]="datet1.invalid && datet1.touched">
                                        <label class="control-label">Data</label>
                                        <my-date-picker name="mydate" [options]="datePicker.myDatePickerOptions"
                                                        #datet1="ngModel"
                                                        required
                                                        [(ngModel)]="birthDateInput"
                                                        name="newEventType1.date"
                                                        (dateChanged)="onDateChanged($event)"
                                                        [selDate]="datePicker.selectedDateNormal"
                                                        [defaultMonth]="datePicker.defaultYearAndMonth"
                                                        locale="pl"
                                                        placeholder="rrrr-mm-dd">
                                        </my-date-picker>
                                    </div>
                                </div>
                                <div *ngIf="(timet1.invalid && timet1.touched) || (datet1.invalid && datet1.touched)"
                                     class="alert alert-danger"
                                     role="alert">
                                    Podaj datę i godzinę rozpoczęcia wydarzenia.
                                </div>
                                <div *ngIf="!isTimeValid"
                                     class="alert alert-danger"
                                     role="alert">
                                    Ustaw czas za pomocą suwaków.
                                </div>

                                <div class="form-group" [class.has-error]="addresst1.invalid && addresst1.touched">
                                    <label class="control-label">Adres</label>
                                    <input #addresst1="ngModel"
                                           type="text"
                                           required
                                           minlength="1"
                                           maxlength="255"
                                           class="form-control"
                                           [(ngModel)]="newEventType1.address"
                                           name="newEventType1.address">
                                    <div *ngIf="addresst1.invalid && addresst1.touched" class="alert alert-danger"
                                         role="alert">
                                        Adres nie może być pusty.
                                    </div>
                                </div>

                                <div class="form-group" [class.has-error]="dishnamet1.invalid && dishnamet1.touched">
                                    <label class="control-label">Nazwa serwowanego posiłku</label>
                                    <input #dishnamet1="ngModel"
                                           type="text"
                                           required
                                           minlength="1"
                                           maxlength="100"
                                           class="form-control"
                                           (keypress)="newEventType1.dish_name = toUppercase(newEventType1.dish_name)"
                                           [(ngModel)]="newEventType1.dish_name"
                                           name="newEventType1.dish_name">
                                    <div *ngIf="dishnamet1.invalid && dishnamet1.touched" class="alert alert-danger"
                                         role="alert">
                                        Nazwa posiłku nie może być pusta.
                                    </div>
                                </div>

                                <div class="form-group" [class.has-error]="dishkindt1.invalid && dishkindt1.touched">
                                    <label class="control-label" for="dishkind">Rodzaj posiłku</label>
                                    <select #dishkindt1="ngModel"
                                            class="form-control"
                                            [(ngModel)]="newEventType1.dish_kind"
                                            name="dish_kind"
                                            required
                                            id="dishkind">
                                        <option *ngFor="let item of dishTypes" [value]="item">{{item}}</option>
                                    </select>
                                    <div *ngIf="dishkindt1.invalid && dishkindt1.touched" class="alert alert-danger"
                                         role="alert">
                                        Wybierz rodzaj posiłku.
                                    </div>
                                </div>

                                <div class="form-group"
                                     [class.has-error]="peoplequantt1.invalid && peoplequantt1.touched">
                                    <label class="control-label">Ilość osób</label>
                                    <input #peoplequantt1="ngModel"
                                           type="number"
                                           required
                                           min="2"
                                           max="25"
                                           placeholder="2"
                                           class="form-control"
                                           (blur)="validateParticipantsQuantity(newEventType1.people_quantity)"
                                           [(ngModel)]="newEventType1.people_quantity"
                                           name="newEventType1.people_quantity">
                                    <div *ngIf="!isParticipantsQuantityProper"
                                         class="alert alert-danger" role="alert"> <!--liczba do uzgodnienia-->
                                        Liczba osób powinna zawierać się w przedziale 2-25.
                                    </div>
                                </div>

                                <div class="form-group"
                                     [class.has-error]="additionalt1.invalid && additionalt1.touched">
                                    <!-- TODO: czekamy na dalsze info na temat tego pola (lista
                                 do wyboru)-->
                                    <label class="control-label">Dodatkowe informacje o posiłku</label>
                                    <input #additionalt1="ngModel"
                                           type="text"
                                           required
                                           minlength="1"
                                           maxlength="255"
                                           class="form-control"
                                           (keypress)="newEventType1.additional_info = toUppercase(newEventType1.additional_info)"
                                           [(ngModel)]="newEventType1.additional_info"
                                           name="newEventType1.additional_info">
                                    <div *ngIf="additionalt1.invalid && additionalt1.touched" class="alert alert-danger"
                                         role="alert">
                                        Dodatkowe informacje nie mogą być puste.
                                    </div>
                                </div>

                                <div class="form-group" [class.has-error]="desct1.invalid && desct1.touched">
                                    <label class="control-label">Opis</label>
                                    <input #desct1="ngModel"
                                           type="text"
                                           required
                                           minlength="1"
                                           class="form-control"
                                           (keypress)="newEventType1.description = toUppercase(newEventType1.description)"
                                           [(ngModel)]="newEventType1.description"
                                           name="newEventType1.description">
                                    <div *ngIf="desct1.invalid && desct1.touched" class="alert alert-danger"
                                         role="alert">
                                        Opis nie może być pusty.
                                    </div>
                                </div>

                                <div class="form-group" [class.has-error]="!isProperPhoto && photot1.touched">
                                    <label class="control-label">Zdjęcie</label>
                                    <input type="file"
                                           ngModel
                                           class="form-control"
                                           #photot1="ngModel"
                                           placeholder="placeholderPhoto"
                                           name="newEventType1.photo" (change)="fileChangeType1($event)"
                                           accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG,.bmp,.BMP" >
                                    <div *ngIf="!isProperPhoto && photot1.touched" class="alert alert-danger"
                                         role="alert">
                                        Zdjęcie jest niepoprawne.
                                    </div>
                                    <div *ngIf="isPhotoSizeTooBig" class="alert alert-danger"
                                         role="alert">
                                        Rozmiar zdjęcia jest za duży (max. 1 MB)
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <button type="button" class="btn btn-kitchen-primary"
                                            data-toggle="modal" data-target="#myModalType1"
                                            (click)="showPhotoInModal()"
                                            [disabled]="!eventCreateForm.valid || !isProperPhoto
                                             || !isTimeValid || !isParticipantsQuantityProper">Stwórz wydarzenie
                                    </button> <!--[disabled] -> makes button not accessable before validated-->
                                </div>

                            </div>

                            <!-- modal start -->
                            <div class="modal fade modal-kitchen" id="myModalType1" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-kitchen-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabelType1">Potwierdź dane
                                                wydarzenia</h4>
                                        </div>
                                        <div class="modal-body lead-small indent-text" style="word-break: break-all !important;">
                                            <span>Zostanie stworzone następujące wydarzenie:</span>
                                            <ul class="list-unstyled">
                                                <li><strong>Tytuł wydarzenia: </strong> {{newEventType1.title}}</li>
                                                <li><strong>Godzina: </strong> {{newEventType1.time}}</li>
                                                <li><strong>Data: </strong> {{newEventType1.date}}</li>
                                                <li><strong>Adres: </strong> {{newEventType1.address}}</li>
                                                <li><strong>Nazwa posiłku: </strong> {{newEventType1.dish_name}}</li>
                                                <li><strong>Rodzaj posiłku: </strong> {{newEventType1.dish_kind}}</li>
                                                <li><strong>Ilość osób: </strong> {{newEventType1.people_quantity}}</li>
                                                <li><strong>Dodatkowe informacje o posiłku: </strong> {{newEventType1.additional_info}}
                                                </li>
                                                <li><strong>Opis: </strong> {{newEventType1.description}}</li>
                                            </ul>
                                            <img *ngIf="isPhotoUploaded" [src]="pathToPhotoPreview" class="img-responsive">
                                        </div>
                                        <div class="modal-footer">
                                            <button *ngIf="!isEventCreated" type="button" class="btn btn-kitchen-default"
                                                    data-dismiss="modal">Powrót
                                            </button>
                                            <button *ngIf="!isEventCreated" type="button" class="btn btn-kitchen-primary"
                                                    (click)="createNewEvent(newEventType1)"
                                                    data-loading-text="Sprawdzanie..." id="saveEventButton"
                                                    [disabled]="isEventBeingCreated"
                                                    autocomplete="off">Zapisz
                                            </button>
                                            <button *ngIf="isEventCreated" type="button" class="btn btn-kitchen-default"
                                                    data-dismiss="modal" [routerLink]="['/events']">OK!
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal end -->

                            <!-- musimy zrobic dwa rozne modele gdyz przy zmianie rodzaju posilku moglibysmy dodac do bazy
                            np dane o liscie zakupow ktore nie powinny sie znalesc w wydarzeniu typu 1-->

                            <!-- t2 - event type 2-->
                            <div *ngIf="typeOfEvent==2">
                                <div class="form-group" [class.has-error]="titlet2.invalid && titlet2.touched">
                                    <label class="control-label">Tytuł wydarzenia</label>
                                    <input #titlet2="ngModel"
                                           type="text"
                                           required
                                           minlength="1"
                                           maxlength="255"
                                           class="form-control"
                                           (keypress)="newEventType2.title = toUppercase(newEventType2.title)"
                                           [(ngModel)]="newEventType2.title"
                                           name="newEventType2.title">
                                    <div *ngIf="titlet2.invalid && titlet2.touched" class="alert alert-danger"
                                         role="alert">
                                        Tytuł nie może być pusty.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6"
                                         [class.has-error]="(timet2.invalid && timet2.touched) || !isTimeValid">
                                        <label class="control-label">Godzina</label>
                                        <input
                                                [(ngModel)]="newEventType2.time" ngui-datetime-picker
                                                date-format="HH:mm"
                                                parse-format="HH:mm:ss"
                                                (popupClosed)="checkIfTimeIsCorrect(newEventType2.time)"
                                                hour="23"
                                                minute='59'
                                                [time-only]="true"
                                                [close-on-select]="false"
                                                name="newEventType2.time"
                                                #timet2="ngModel"
                                                class="form-control"/>

                                    </div>
                                    <div class="form-group col-md-6" [class.has-error]="datet2.invalid && datet2.touched">
                                        <label class="control-label">Data</label>
                                        <my-date-picker name="mydate2" [options]="datePicker.myDatePickerOptions"
                                                        #datet2="ngModel"
                                                        required
                                                        [(ngModel)]="birthDateInput"
                                                        name="newEventType2.date"
                                                        (dateChanged)="onDateChanged($event)"
                                                        [selDate]="datePicker.selectedDateNormal"
                                                        [defaultMonth]="datePicker.defaultYearAndMonth"
                                                        locale="pl"
                                                        placeholder="rrrr-mm-dd">
                                        </my-date-picker>
                                    </div>
                                </div>
                                <div *ngIf="(timet2.invalid && timet2.touched) || (datet2.invalid && datet2.touched)"
                                     class="alert alert-danger"
                                     role="alert">
                                    Podaj datę i godzinę rozpoczęcia wydarzenia.
                                </div>
                                <div *ngIf="!isTimeValid"
                                     class="alert alert-danger"
                                     role="alert">
                                    Ustaw czas za pomocą suwaków.
                                </div>

                                <div class="form-group" [class.has-error]="addresst2.invalid && addresst2.touched">
                                    <label class="control-label">Adres</label> <!-- moze zablokowac dostep? -->
                                    <input #addresst2="ngModel"
                                           type="text"
                                           required
                                           min="1"
                                           max="255"
                                           class="form-control"
                                           [(ngModel)]="newEventType2.address"
                                           name="newEventType2.address">
                                    <div *ngIf="addresst2.invalid && addresst2.touched" class="alert alert-danger"
                                         role="alert">
                                        Adres wdydarzenia nie może być pusty.
                                    </div>
                                </div>
                                <div class="form-group" [class.has-error]="dishnamet2.invalid && dishnamet2.touched">
                                    <label class="control-label">Nazwa serwowanego posiłku</label>
                                    <input #dishnamet2="ngModel"
                                           type="text"
                                           required
                                           minlength="1"
                                           maxlength="100"
                                           class="form-control"
                                           (keypress)="newEventType2.dish_name = toUppercase(newEventType2.dish_name)"
                                           [(ngModel)]="newEventType2.dish_name"
                                           name="newEventType2.dish_name">
                                    <div *ngIf="dishnamet2.invalid && dishnamet2.touched" class="alert alert-danger"
                                         role="alert">
                                        Nazwa posiłku nie może być pusta.
                                    </div>
                                </div>

                                <div class="form-group" [class.has-error]="dishkindt2.invalid && dishkindt2.touched">
                                    <label class="control-label" for="dishkind">Rodzaj posiłku</label>
                                    <select #dishkindt2="ngModel"
                                            class="form-control"
                                            required
                                            [(ngModel)]="newEventType2.dish_kind"
                                            name="dish_kind"
                                            id="dishkind2">
                                        <option *ngFor="let item of dishTypes" [value]="item">{{item}}</option>
                                    </select>
                                    <div *ngIf="dishkindt2.invalid && dishkindt2.touched" class="alert alert-danger"
                                         role="alert">
                                        Wybierz rodzaj posiłku.
                                    </div>
                                </div>
                                <div class="form-group"
                                     [class.has-error]="peoplequantt2.invalid && peoplequantt2.touched">
                                    <label class="control-label">Ilość osób</label>
                                    <input #peoplequantt2="ngModel"
                                           type="number"
                                           required
                                           min="2"
                                           max="25"
                                           placeholder="2"
                                           (blur)="validateParticipantsQuantity(newEventType2.people_quantity)"
                                           class="form-control"
                                           [(ngModel)]="newEventType2.people_quantity"
                                           name="newEventType2.people_quantity">
                                    <div *ngIf="!isParticipantsQuantityProper"
                                         class="alert alert-danger" role="alert">
                                        Liczba osób powinna zawierać się w przedziale 2-25.
                                    </div>
                                </div>

                                <simple-list [label]="stringShoppingList"
                                             (eventClick)="handleRecievedShoppingList($event)"></simple-list>
                                <simple-list [label]="stringProductsList"
                                             (eventClick)="handleRecievedProductsList($event)"></simple-list>
                                <div class="form-group" [class.has-error]="minitemst2.invalid && minitemst2.touched">
                                    <label class="control-label">Minimalna liczba produktów przyniesionych przez
                                        uczestnika</label>
                                    <input #minitemst2="ngModel"
                                           required
                                           min="0"
                                           type="number"
                                           class="form-control"
                                           [(ngModel)]="newEventType2.quantity_of_products"
                                           (blur)="validateQuantityOfProducts(newEventType2.quantity_of_products)"
                                           name="newEventType2.quantity_of_products">
                                    <div *ngIf="!isQuantityOfProductsProper" class="alert alert-danger"
                                         role="alert">
                                        Liczba produktów musi zawierać się w przedziale 0-25.
                                    </div><!-- co jak moze ktos nie chce aby ktos cos kupowal? -->
                                </div>
                                <div class="form-group"
                                     [class.has-error]="additionalt2.invalid && additionalt2.touched">
                                    <label class="control-label">Dodatkowe informacje o posiłku</label>
                                    <input #additionalt2="ngModel"
                                           type="text"
                                           required
                                           minlength="1"
                                           maxlength="255"
                                           class="form-control"
                                           (keypress)="newEventType2.additional_info = toUppercase(newEventType2.additional_info)"
                                           [(ngModel)]="newEventType2.additional_info"
                                           name="newEventType2.additional_info">
                                    <div *ngIf="additionalt2.invalid && additionalt2.touched" class="alert alert-danger"
                                         role="alert">
                                        Dodatkowe informacje nie mogą być puste.
                                    </div>
                                </div>
                                <div class="form-group" [class.has-error]="desct2.invalid && desct2.touched">
                                    <label class="control-label">Opis</label>
                                    <input #desct2="ngModel"
                                           type="text"
                                           required
                                           class="form-control"
                                           (keypress)="newEventType2.description = toUppercase(newEventType2.description)"
                                           [(ngModel)]="newEventType2.description"
                                           name="newEventType2.description">
                                    <div *ngIf="desct2.invalid && desct2.touched" class="alert alert-danger"
                                         role="alert">
                                        Opis nie może być pusty.
                                    </div>
                                </div>
                                <div class="form-group" [class.has-error]="!isProperPhoto && photot2.touched">
                                    <label class="control-label">Zdjęcie</label>
                                    <input type="file"
                                           class="form-control"
                                           placeholder="placeholderPhoto"
                                           #photot1="ngModel"
                                           ngModel
                                           (change)="fileChangeType2($event)" name="newEventType2.photo"
                                           accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG,.bmp,.BMP">
                                    <div *ngIf="!isProperPhoto && photot2.touched" class="alert alert-danger"
                                         role="alert">
                                        Zdjęcie jest niepoprawne.
                                    </div>
                                    <div *ngIf="isPhotoSizeTooBig" class="alert alert-danger"
                                         role="alert">
                                        Rozmiar zdjęcia jest za duży (max. 1 MB)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-kitchen-primary"
                                                data-toggle="modal" data-target="#myModalType2"
                                                (click)="showPhotoInModal()"
                                                [disabled]="!eventCreateForm.valid || !isProperPhoto
                                                 ||!isTimeValid || !isParticipantsQuantityProper
                                                 || !isQuantityOfProductsProper">Stwórz wydarzenie
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- modal start -->
                            <div class="modal fade" id="myModalType2" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabelType2">Potwierdź dane
                                                wydarzenia</h4>
                                        </div>
                                        <div class="modal-body lead-small indent-text" style="word-break: break-all !important;">
                                            <span>Zostanie stworzone następujące wydarzenie:</span>
                                            <ul class="list-unstyled">
                                                <li><strong>Tytuł wydarzenia: </strong> {{newEventType2.title}}</li>
                                                <li><strong>Godzina: </strong> {{newEventType2.time}}</li>
                                                <li><strong>Data: </strong> {{newEventType2.date}}</li>
                                                <li><strong>Adres: </strong> {{newEventType2.address}}</li>
                                                <li><strong>Nazwa posiłku: </strong> {{newEventType2.dish_name}}</li>
                                                <li><strong>Rodzaj posiłku: </strong> {{newEventType2.dish_kind}}</li>
                                                <li><strong>Ilość osób: </strong> {{newEventType2.people_quantity}}</li>
                                                <li><strong>Lista potrzebnych zakupów: </strong>
                                                    <span *ngFor="let item of tempShoppingListList">{{item}} </span>
                                                </li>
                                                <li><strong>Lista posiadanych zakupów: </strong>
                                                    <span *ngFor="let item of tempProductsListList">{{item}} </span>
                                                </li>
                                                <li><strong>Minimalna liczba produktów przyniesionych przez uczestnika: </strong>
                                                    {{newEventType2.quantity_of_products}}
                                                </li>
                                                <li><strong>Dodatkowe informacje o posiłku: </strong> {{newEventType2.additional_info}}
                                                </li>
                                                <li><strong>Opis: </strong> {{newEventType2.description}}</li>
                                            </ul>
                                            <img *ngIf="isPhotoUploaded" [src]="pathToPhotoPreview" class="img-responsive">
                                        </div>
                                        <div class="modal-footer">
                                            <button *ngIf="!isEventCreated" type="button" class="btn btn-kitchen-default"
                                                    data-dismiss="modal">Powrót
                                            </button>
                                            <button *ngIf="!isEventCreated" type="button" class="btn btn-kitchen-primary"
                                                    (click)="createNewEvent(newEventType2)"
                                                    data-loading-text="Sprawdzanie..." id="saveEventButtonType2"
                                                    [disabled]="isEventBeingCreated"
                                                    autocomplete="off">Zapisz
                                            </button>
                                            <button *ngIf="isEventCreated" type="button" class="btn btn-kitchen-default"
                                                    data-dismiss="modal" [routerLink]="['/events']">OK!
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal end -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
