<div class="form-group ">
    <label>{{label}}</label>
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <input type="text" class="form-control" id="inputKey"
                   [(ngModel)]="currentItem"
                   (keyup.enter)="addItem()"
                   name="currentItem">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
            <input type="number" class="form-control"
                   min="0"
                   [(ngModel)]="quantity"
                   placeholder="Ilość"
                   name="currentItem">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
            <select class="form-control"
                    [(ngModel)]="measure" >
                <option value=""></option>
                <option value="ml">ml</option>
                <option value="l">l</option>
                <option value="g">g</option>
                <option value="kg">kg</option>
                <option value="szt">szt.</option>
            </select>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4">
            <button type="button" class="btn btn-kitchen-default" (click)="addItem()">Dodaj</button>
        </div>
    </div>
    <br/>
    <div>
        <span *ngFor="let item of listItems; let i = index;"
              class="label label-default">{{item}} <i class="fa fa-times" aria-hidden="true"
                                                      (click)="deleteItem(i)"></i> </span>
    </div>
    <div>
        <div *ngIf="containsComma" class="alert alert-danger"
             role="alert">
            Nazwa produktu nie może zawierać przecinków.
        </div>
    </div>


</div>