<div class="container-fluid">
    <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="lead">Stwórz nowe wydarzenie</h2>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button"
                                class="btn btn-kitchen-default btn-lg btn-block"
                                [routerLink]="['/events/create/new']"
                                [disabled]="!canCreateEvent ">Stwórz!</button>
                    </div>
                </div>
                <div class="row" *ngIf="!canCreateEvent && viewLoaded">
                    <div class="col-md-12">
                        <div class="jumbotron" style="margin-top: 20px !important">
                            <p>Aby móc tworzyć wydarzenia, wymagane jest uzupełnienie danych osobowych.</p>
                            <p><a class="btn btn-kitchen-primary btn-lg"
                                  [routerLink]="['/profile/myprofile']"
                                  role="button">Przejdź do profilu</a></p>
                        </div>
                    </div>
                </div>
                <h2 class="lead">Wydarzenia</h2>
                <div class="row">
                    <div *ngFor="let event of events">
                        <div class="col-md-6 col-sm-12" *ngIf="event.ownerId != userId">
                            <event-detail [event]="event">Ładowanie...</event-detail>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="pagination">
                            <li>
                                <a class="btn" aria-label="Poprzednia" (click)="getPreviousPage()">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <ng-container *ngFor="let page of totalPages">
                                <li [ngClass]="{'active': page==currentPage}">
                                    <a class="btn" (click)="getNewPages(page)">{{page+1}}</a>
                                </li>
                            </ng-container>
                            <li>
                                <a class="btn" aria-label="Nastepna" (click)="getNextPage()">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

