<div class="container">
    <div class="row">
        <div class="search">
            <input #title="ngModel"
                   class="form-control input-sm"
                   name="model.title"
                   id="title"
                   placeholder="Nazwa wydarzenia"
                   [(ngModel)]="model.title"/>
            <button [routerLink]="['/searched/events', {searchType: this.main, title: model.title} ]" type="submit" class="btn btn-kitchen-primary btn-sm">Wyszukaj</button>
        </div>
    </div>
</div>