<div class="form-style-10">
    <h1>Zmiana hasła<span>Aby zmienić swoje hasło wypełnij poniższy formularz</span></h1>
    <form #form="ngForm" validate>
        <div class="section"><span>1</span>Stare hasło</div>
        <div class="inner-wrap">
            <div class="form-group" [class.has-error]="oldPass.invalid && oldPass.touched">
                <label>Aktualne hasło <input
                        #oldPass="ngModel"
                        pattern="......+"
                        type="password"
                        maxlength="100"
                        required
                        class="form-control"
                        type="password"
                        [(ngModel)]="oldPassword"
                        name="oldPassword" /></label>
                <div *ngIf="oldPass.invalid && oldPass.touched" class="alert alert-danger"
                     role="alert">
                    Hasło musi się składać z przynajmniej 6 liter.
                </div>
            </div>
        </div>
        <div class="section"><span>2</span>Nowe hasło</div>
        <div class="inner-wrap">
            <div class="form-group" [class.has-error]="newPassword.invalid && newPassword.touched">
                <label>Nowe hasło <input
                        #newPassword="ngModel"
                        pattern="......+"
                        type="password"
                        maxlength="100"
                        required
                        class="form-control"
                        type="password"
                        [(ngModel)]="userProfileChangePasswordDTO.newPassword"
                        (ngModelChange) = "checkIsPassEquals($event)"
                        name="userProfileChangePasswordDTO.newPassword" />
                </label>
                <div *ngIf="newPassword.invalid && newPassword.touched" class="alert alert-danger"
                     role="alert">
                    Hasło musi się składać z przynajmniej 6 liter.
                </div>
            </div>
            <div class="form-group" [class.has-error]="confPassword.invalid && confPassword.touched">
                <label>Potwierdź nowe hasło<input
                        #confPassword="ngModel"
                        required
                        pattern="......+"
                        maxlength="100"
                        type="password"
                        [(ngModel)]="confirmPassword"
                        (ngModelChange) = "checkIsPassEquals($event)"
                        name="confirmPassword" /></label>
                <div *ngIf="confPassword.invalid && confPassword.touched" class="alert alert-danger"
                     role="alert">
                    Hasło musi się składać z przynajmniej 6 liter.
                </div>
            </div>
            <div *ngIf="isPassNotEqual" class="alert alert-danger" role="alert">
                Hasła są różne!
            </div>
            <div *ngIf="(invalidPasswordMessage) !== ''">
                <div class="alert alert-danger" role="alert">
                    {{ invalidPasswordMessage }}
                </div>
            </div>
        </div>
        <div class="modal-button-section">
            <!--<input type="submit" (click)="changePassword()" data-dismiss="modal" [disabled]="!form.valid" name="Zmień hasło" />-->
            <button type="submit" class="btn btn-warning modal-submit-button-ng2"  [disabled]="!form.valid || isPassNotEqual" [title]="!form.valid ? 'Niepoprawne dane' : 'Zapisz'" (click)="changePassword()" data-dismiss="modal">Zmień</button>
            <button type="button" class="btn btn-warning modal-submit-button-ng2" data-dismiss="modal">Anuluj</button>
        </div>
    </form>
</div>
