<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div class="container">
        <div class="row">
            <div class="col-md-6">
                <form #formLogin="ngForm" novalidate>
                    <div class="form-group" [class.has-error]="login.invalid && login.touched">
                        <label class="control-label">Login</label>
                        <input #login="ngModel"
                               type="text"
                               required
                               class="form-control"
                               name="credentials.username"
                               [(ngModel)]="credentials.username">
                        <div *ngIf="login.invalid && login.touched" class="alert alert-danger" role="alert">
                            Podaj login.
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="password.invalid && password.touched">
                        <label class="control-label">Hasło</label>
                        <input #password="ngModel"
                               type="password"
                               required
                               class="form-control"
                               name="credentials.password"
                               [(ngModel)]="credentials.password">
                        <div *ngIf="password.invalid && password.touched" class="alert alert-danger" role="alert">
                            Podaj Hasło.
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="shouldBeRemembered"
                                   [(ngModel)]="shouldBeRemembered"> Zapamiętaj mnie
                        </label>
                    </div>
                    <div *ngIf="errorEncountered" class="alert alert-danger" role="alert">
                        Błędne dane.
                    </div>
                    <div *ngIf="!isAccountEnabled" class="alert alert-danger" role="alert">
                        Potwierdz aktywację Twojego konta poprzez link aktywacyjny, który wysłaliśmy Ci na Twój adres E-mail.
                    </div>
                    <button type="submit" class="btn btn-default" (click)="logins(credentials)">OK
                    </button>
                </form>
            </div>
        </div>
    </div>

