<section>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-2 sidenav">
                <h4>Wiadomości </h4>
                <ul class="nav nav-pills nav-stacked">
                    <li><a routerLink="/messagebox" >Odebrane</a></li>
                    <li class="active-kitchen"><a routerLink="/messagebox/sent/0" >Wysłane</a></li>
                </ul><br>
            </div>
            <div class="col-md-10">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <sent-messages [indexFirstMsgOnSite]="indexFirstMsgOnSite" ></sent-messages>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="new-message" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <sending-message></sending-message>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-kitchen-default" data-dismiss="modal">Powrót</button>
                </div>
            </div>

        </div>
    </div>

</section><!--section close-->