<section>
    <div class="message-menu">
        <a class="btn btn-kitchen-default-b" data-toggle="modal" data-target="#new-message">
            <i class="fa fa-plus" aria-hidden="true"></i> Nowa
        </a>
        <a (click)="deleteSelectedMessages()" [routerLink]="['/messagebox/sent', 0 ]" class="btn btn-kitchen-default-b" >
            <i class="fa fa-minus" aria-hidden="true"></i> Usuń zaznaczone
        </a>
        <a (click)="reloadPage()" [routerLink]="['/messagebox', 0 ]" class="btn btn-kitchen-default-b" >
            <i class="fa fa-refresh" aria-hidden="true"></i> Odśwież
        </a>
    </div>
    <div class="well-kitchen">
        <div class="message-details">
            <h3>Wiadomości wysłane</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead></thead>
                    <tbody>
                    <div *ngFor="let message of sentMessages | slice:indexFirstMsgOnSite:indexFirstMsgOnSite+10; let i=index">
                        <hr/>
                        <tr>
                            <td>
                                <div class="message-checkbox" >
                                    <input type="checkbox"
                                           name="sentMessages"  [(ngModel)]="message.checked" value="message.id">
                                </div>
                            </td>
                            <td>
                                <div class="message-nick">
                                    {{message.nickRecipient}}
                                </div>
                            </td>
                            <td>
                                <div class="message-title">
                                    <a [routerLink]="['/messagebox/sent/details', message.id ]">{{message.title}} </a>
                                </div>
                            </td>
                            <td>
                                <div class="message-date">
                                    {{message.dateOfSend | date | polishDate}}
                                    {{message.dateOfSend | date:'HH:mm:ss'}}
                                </div>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul class="pagination">
        <ng-container *ngFor="let page of indexesOfPage">
            <li *ngIf="page == currentIndexOfPage" class="active">
                <a [routerLink]="['/messagebox/sent', (page*10)-10 ]" class="btn">{{page}}</a>
            </li>
            <li *ngIf="page != currentIndexOfPage">
                <a (click)="setIndexOfPage(page);" [routerLink]="['/messagebox/sent', (page*10)-10 ]" class="btn">{{page}}</a>
            </li>
        </ng-container>

    </ul>

</section><!--section close-->
