<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1>Stwórz nowe wydarzenie</h1>
                    <button type="button"
                            class="btn btn-kitchen-default btn-lg btn-block"
                            [routerLink]="['/events/create/new']"
                            [disabled]="!canCreateEvent ">Stwórz!</button>
                </div>
                <hr/>
                <h1>Twoje wydarzenia</h1>
                <div *ngIf="userEvents.length > 0">
                    <div *ngFor="let event of userEvents" >
                        <user-created-events [event]="event">Ładowanie...</user-created-events>
                        <!--[a child comp property]="parent variable"-->
                    </div>
                </div>
                <div  *ngIf="!userEvents.length > 0" >
                    <div class="well-kitchen text-center">
                        <h3>Nie masz żadnych wydarzeń</h3>
                    </div>
                </div>
                <hr/>
                <h1>Wydarzenia w których bierzesz udział</h1>
                    <user-participate-events [events]="userParticipatedEvents"
                    [userId]="userId">Ładowanie...</user-participate-events>
                <hr/>
                <h1>Zakończone wydarzenia w których brałeś udział</h1>
                <ended-events [events]="endedEvents">
                    Ładowanie
                </ended-events>
                <hr/>
                <h1>Twoje zakończone wydarzenia</h1>
                <user-created-ended-events [events]="endedUserEvents">
                    Ładowanie
                </user-created-ended-events>
            </div>
        </div>
    </div>
</div>