<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div class="well-kitchen">
    <div class="row" >
        <div class="col-md-5 col-sm-12 col-xs-12" style="word-break: break-all !important;">
            <h2 style="word-wrap: break-word;">{{event.title}}</h2>
            <table class="table">
                <tbody>
                <tr>
                    <td style="word-break: normal !important;" class="text-right">Nazwa posiłku: </td>
                    <td>{{event.dish_name}}</td>
                </tr>
                <tr>
                    <td style="word-break: normal !important;" class="text-right">Data rozpoczęcia: </td>
                    <td>{{event.date | date | polishDate}}</td>
                </tr>
                <tr>
                    <td style="word-break: normal !important;" class="text-right">Rodzaj: </td>
                    <td>{{event.dish_kind}}</td>
                </tr>
                <tr>
                    <td style="word-break: normal !important;" class="text-right">Ilość uczestników: </td>
                    <td>{{event.people_quantity}}</td>
                </tr>
                <tr>
                    <td style="word-break: normal !important;" class="text-right">Wolnych miejsc: </td>
                    <td>{{event.people_remaining}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <h2>Uczestnicy</h2>
            <h3 *ngIf="!(event.participantsDetails.length > 0)">Brak chętnych</h3>
            <div class="table-responsive" *ngIf="event.participantsDetails.length > 0">
                <table class="table">
                    <thead >
                        <th class="text-center">Użytkownik</th>
                        <th class="text-center">Nick</th>
                        <th class="text-center">Uzupełniony</th>
                        <th class="text-center">Zobacz profil</th>
                        <th class="text-center">Akceptuj</th>
                        <th class="text-center">Odrzuć</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of event.participantsDetails; let i = index;" class="text-center"
                            [class.success]="checkIfUserIsOnAAcceptedList(user.id)">
                            <td>{{user.username}}</td>
                            <td>{{user.nick}}</td>
                            <td>
                                <i class="fa fa-check" aria-hidden="true" *ngIf="user.filled"></i>
                                <i class="fa fa-times" aria-hidden="true" *ngIf="!user.filled"></i>
                            </td>
                            <td >
                                <button class="btn-kitchen-black-transp btn-block" (click)="goToProfile(user.username)">
                                    <i  class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn-kitchen-black-transp btn-block"
                                        data-toggle="modal"
                                        [attr.data-target]="'#'+'acceptRequestModal-'+event.id+'-'+i"
                                        *ngIf="!checkIfUserIsOnAAcceptedList(user.id)">
                                    <i class="fa fa-plus"
                                       aria-hidden="true">
                                    </i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" [id]="'acceptRequestModal-'+event.id+'-'+i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabelAccept">Wyślij dodatkową wiadomość</h4>
                                            </div>
                                            <div class="modal-body">
                                                <textarea class="form-control non-resizable" rows="5" id="messageAccept" [(ngModel)]="acceptMessage"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-kitchen-default" data-dismiss="modal">Zamknij</button>
                                                <button type="button" class="btn btn-kitchen-default" data-dismiss="modal" (click)="acceptUser(user.id)">Pomiń</button>
                                                <button type="button" class="btn btn-kitchen-primary" data-dismiss="modal" (click)="acceptUserAndSendMessage(user)">Wyślij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Modal end-->
                                <button class="btn-kitchen-black-transp btn-block" *ngIf="checkIfUserIsOnAAcceptedList(user.id)">
                                    <i class="fa fa-check"
                                       aria-hidden="true">
                                    </i>
                                </button>
                            </td>
                            <td >
                                <!--if user is an owner of this event he cannot be removed -->
                                <button class="btn-kitchen-black-transp btn-block"
                                        data-toggle="modal"
                                        [attr.data-target]="'#'+'declineRequestModal-'+event.id+'-'+i"
                                        *ngIf="user.id != event.ownerId">
                                    <i class="fa fa-times"
                                       aria-hidden="true"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" [id]="'declineRequestModal-'+event.id+'-'+i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabelDecline">Wyślij dodatkową wiadomość</h4>
                                            </div>
                                            <div class="modal-body">
                                                <textarea class="form-control non-resizable" rows="5" id="messageDecline" [(ngModel)]="declineMessage"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-kitchen-default" data-dismiss="modal">Zamknij</button>
                                                <button type="button" class="btn btn-kitchen-default" data-dismiss="modal" (click)="rejectTheRequest(user)">Pomiń</button>
                                                <button type="button" class="btn btn-kitchen-primary" data-dismiss="modal" (click)="declineUserAndSendMessage(user)">Wyślij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Modal end-->
                                <button class="btn-kitchen-black-transp btn-block" *ngIf="user.id == event.ownerId">
                                    <i class="fa fa-star"
                                       aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <button class="btn btn-kitchen-primary" [routerLink]="['/events',event.id]">Zobacz wydarzenie</button>
        </div>
    </div>
</div>