<section>
    <div class="message-menu">
        <a class="btn btn-kitchen-default-b" data-toggle="modal" data-target="#new-message">
            <i class="fa fa-plus" aria-hidden="true"></i> Nowa
        </a>
        <a (click)="deleteSelectedMessages()" [routerLink]="['/messagebox', 0 ]" class="btn btn-kitchen-default-b" >
            <i class="fa fa-minus" aria-hidden="true"></i> Usuń zaznaczone
        </a>
        <a (click)="reloadPage();" class="btn btn-kitchen-default-b" >
            <i class="fa fa-refresh" aria-hidden="true"></i> Odśwież
        </a>
    </div>
    <div class="well-kitchen">
        <div class="message-details">
            <h3>Wiadomości odebrane</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead></thead>
                    <tbody>
                    <div *ngFor="let message of receivedMessages | slice:indexFirstMsgOnSite:indexFirstMsgOnSite+10; let i=index">
                        <hr/>
                        <tr>
                            <div *ngIf="!message.wasRead">
                                <td>
                                    <div class="message-checkbox" style="font-weight: bold">
                                        <input type="checkbox"
                                               name="receivedMessages"  [(ngModel)]="message.checked" value="message.id">
                                    </div>
                                </td>
                                <td>
                                    <div class="message-nick" style="font-weight: bold">
                                        {{message.nickSender}}
                                    </div>
                                </td>
                                <td>
                                    <div class="message-title" style="font-weight: bold; ">
                                        <a (click)="decreaseNumberOfUnreadMessage();"
                                           [routerLink]="['/messagebox/received/details', message.id ]">{{message.title}} </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="message-date" style="font-weight: bold">
                                        {{message.dateOfSend | date | polishDate}}
                                        {{message.dateOfSend | date:'HH:mm:ss'}}
                                    </div>
                                </td>
                            </div>
                            <div *ngIf="message.wasRead">
                                <td>
                                    <div class="message-checkbox">
                                        <input type="checkbox"
                                               name="receivedMessages"  [(ngModel)]="message.checked" value="message.id">
                                    </div>
                                </td>
                                <td>
                                    <div class="message-nick">
                                        {{message.nickSender}}
                                    </div>
                                </td>
                                <td>
                                    <div class="message-title">
                                        <a [routerLink]="['/messagebox/received/details', message.id ]">{{message.title}} </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="message-date">
                                        {{message.dateOfSend | date | polishDate}}
                                        {{message.dateOfSend | date:'HH:mm:ss'}}
                                    </div>
                                </td>
                            </div>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul class="pagination">
        <ng-container *ngFor="let page of indexesOfPage">
            <li *ngIf="page == currentIndexOfPage" class="active">
                <a [routerLink]="['/messagebox', (page*10)-10 ]" class="btn">{{page}}</a>
            </li>
            <li *ngIf="page != currentIndexOfPage">
                <a (click)="setIndexOfPage(page);" [routerLink]="['/messagebox', (page*10)-10 ]"
                   class="btn">{{page}}</a>
            </li>
        </ng-container>

    </ul>

</section><!--section close-->