<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="word-break: break-all !important;">
                <div class="well-kitchen">
                    <div class="row lead">
                        <div class="col-md-12 " >
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center" style="font-size: 1.8em; color: black; "
                                >{{ event.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <br/>

                    <div class="row">

                        <div class="col-md-12 text-center" *ngIf="hasNotRatedYet">
                            <h4 class="col-md-12">Oceń!</h4>

                            <form #addRatingForm="ngForm" (submit)="addRating()" novalidate>
                                <div class="form-group">

                                    <rating [(ngModel)]="rating.rating" [max]="6"
                                            [readonly]="false" stateOn="fa fa-star fa-4x fa-rating"
                                            stateOff="fa fa-star-o fa-4x fa-rating" name="rating" id="rating"></rating>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-kitchen-primary">Oceń!</button>
                                </div>
                            </form >
                        </div>
                        <div class="col-md-12" *ngIf="!hasNotRatedYet">
                            <div class="text-center">
                                <h2>Twoja ocena:</h2>
                                <br/>
                                <rating [(ngModel)]="rating.rating" [max]="6"
                                        [readonly]="true" stateOn="fa fa-star fa-4x fa-rating"
                                        stateOff="fa fa-star-o fa-4x fa-rating" name="ratingStatic" id="ratingStatic"></rating>
                                <br />
                            </div>
                            <div class="col-md-12" *ngFor="let comment of rating.comments">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <strong >{{comment.user.nickname}}</strong>
                                        <span class="pull-right">{{comment.dateCreated | date:'d MMM y HH:mm' | polishDate}}</span>
                                        <br/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-left">{{comment.text}}</div>
                                </div>
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <form #addRatingForm="ngForm" (submit)="addComment()" novalidate>
                                    <div class="form-group">

                                        <label for="comment">Dodaj komentarz</label>
                                        <textarea class="form-control non-resizable"
                                                  rows="5" id="comment" name="comment"
                                                  [(ngModel)]="commentToAdd"></textarea>

                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-kitchen-primary">Dodaj</button>
                                    </div>
                                </form >
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>