.new-message #nick {
    width: 200px;
}

.new-message #title {
    width: 400px;
}

.new-message #message-contents {
    width: 90%;
}

.new-message .alert-danger {
    width: 200px;
}

.new-message .alert-success {
    width: 200px;
}

.new-message h3 {
    text-align: left;
}

.nav-tabs-message .dropdown-toggle {
    width: 130px;
    background: lightblue;
}

/* Messagebox */
.message-details table {
    width: 100%;
}

.message-details hr {
    color: #8c8c8c;
    background-color: #8c8c8c;
    height: 1px;
    width: 100%;
}

.message-details .message-checkbox {
    width: 50px;
}

.message-details .message-nick {
    width: 150px;
}

.message-details .message-title {
    font-family: Arial;
    width: 400px;
}

.message-details .message-date {
    width: 200px;
}

.message-details .message-checkbox, .message-details .message-nick, .message-details .message-title, .message-details .message-date {
    font-weight: normal;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
   /* height: 30%;*/
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 1200px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

    .message-details .table-message {
        width: auto;
    }

}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

    /*.message-details .table-message {*/
    /*width: auto;*/
    /*}*/
    /*message-details .message-checkbox {*/
    /*width: 5px;*/
    /*}*/
    /*.message-details .message-nick {*/
    /*width: 1px;*/
    /*}*/
    /*.message-details .message-title {*/
    /*font-family: Arial;*/
    /*width: 100px;*/
    /*}*/
    /*.message-details .message-date {*/
    /*width: 100px;*/
    /*}*/
}

@media screen and (max-width: 1200px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

#message-contents {
    white-space:pre-wrap;
}

.container-fluid .message-menu .btn-default{
    margin-bottom: 3%;
    margin-right: 10px;
}

.container-fluid .message-menu {
    text-align: left;
    margin-bottom: 2%;
}

.has-subnav .badge {
    padding: 1px 5px 2px;
    font-size: 12.025px;
    font-weight: bold;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    position:relative;
    top: -5px;
    left: -15px;
}
.has-subnav .badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.has-subnav .badge-error {
    background-color: red;
}
.has-subnav .badge-error:hover {
    background-color: #953b39;
}

.notification-details .notification-checkbox {
    float: left;
    margin-right: 10px;
}
.notification-details .notification-body{
    float: inherit;
}


.support-main{
    width: 90%;
    margin: 0 auto;

}
.support-main #title {
    width: 400px;

}

.support-main #message-contents {
    width: 90%;
}


/******** SEARCH ********/
#search {
    float: right;
    margin-top: 9px;
    width: 100px;
}

.search {
    padding: 10px 0;
    width: 100px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left:93px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
}

.search:hover input, .search input:focus{
    width: 200px;
    margin-left: 110px;
}

.search .btn {
    margin-top: 5px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

@media screen and (max-width: 768px) {

}


/********* SEARCH END *********/
/*********ADVANCED SEARCH *****/
.well-searchbox {
    margin-left: 30%;
    width: 400px;
    min-width: 400px;
    padding: 19px;
    z-index: 80;
    top: 90px;
    right: 100px;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-searchbox label {
    color: #fff;
}

/******** ADVANCED SEARCH END *****/

/******* CAROUSEL **********/
.main-page-carousel .carousel-control.left, .main-page-carousel .carousel-control.right {
    background-image: none
}

.main-page-events{
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}

/******* CAROUSEL END ******/