@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  font-size: 2em !important;
}
.fa-sidebar, .fa-navbar, .fa-navbar-menu {
  position: relative;
  display: table-cell;/* !important*/
  width: 60px;
  /* height: 100%; */
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fa-navbar{
  width: 40px;
}
.fa-navbar-menu{
  margin-right: 10px;
}
.main-menu {
  background: #fbfbfb;
  border-right: 1px solid #e5e5e5;
  /*  position: absolute; */
  position:fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  padding-top: 45px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .3s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}
.main-menu>ul {
  margin: 30px 0;
}
.main-menu li {
  position: relative;
  display: block;
  width: 200px;
  cursor: pointer;
}
.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 20px;
  color: #6f6f6f;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;

  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
}
.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  width: 140px;
  font-family: 'Titillium Web', sans-serif;
}
.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}
.no-touch .scrollable.hover {
  overflow-y: hidden;
}
.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}
a:hover,
a:focus {
  text-decoration: none;
}
nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}
nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #FF6600;/*#FFA500;*/

}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
#main {
  margin-left: 60px !important;
  transition: margin-left 0.5s !important;
  padding: 16px !important;
  transition: opacity 0.5s !important;
}

#box:hover + #main{
  /*margin-left: 260px !important;*/
  opacity: 0.5;
}



body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-left: 10px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.dropdown-menu>li>a {
  cursor: pointer;
}


@media(min-width:768px) {
  #wrapper.toggled {
    position: relative;
    margin-right: 0;
  }
}

@media(max-width:265px) {
  .main-menu>ul, #main {
    padding-top: 45px;
  }

   #main {
    padding-top: 65px !important;
   }
}
@media(min-width:768px) {
  .main-menu:hover,
  nav.main-menu.expanded {
    width: 200px;
    overflow: visible;
  }
}
@media(max-height:360px){
  .main-menu>ul.logout {
    position: relative;
    left: 0;
    bottom: 0;
  }
}
@media(max-width:767px){
  #box:hover + #main{
    opacity: 1;
  }
}