/* Styles go here */
body{
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin:20px
}



a {
  text-decoration: none;
}


/**
 * Bootstrap crap
 */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs > li {
  float: left;
  position: relative;
  display: block;
}

.nav-tabs > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}
group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " ";
}

/**
 * Material Style Tabs
 * Inspired by: http://bootsnipp.com/snippets/featured/material-design-tab-style
 */
.tab-set {
  background:#FFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.tab-content {
 /*padding:15px 15px 25px 15px; */ /*<--tu psuje!-->*/
 /* text-align:center;*/
}

.nav-tabs {
  border-bottom:solid 2px #eee;
  margin-bottom: 5px;
}
.nav-tabs > li.disabled:hover {
  background: transparent;
}
.nav-tabs > li.disabled:hover > a {
  margin-top: 1px;
}
.nav-tabs > li > a {
  border: none;
  color: #000;
  background: transparent;
  font-weight: 600;
  opacity: .5;
  outline: none;
  box-shadow: none;
  cursor:pointer;
}
.nav-tabs > li > a:hover {
  border: none;
  color: #FF6600; /*#fc5d44;*/
  background: transparent;
  opacity: 1;
}
.nav-tabs > li > a::after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 500ms ease 0s;
  transform: scale(0);
  background: #FF6600 none repeat scroll 0% 0%; /*#fc5d44*/
  color: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
  opacity: 1;
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

li.invalidTab > a{
  background: red !important;
  color: white !important;
}

li.invalidTab.active > a{
  color: red !important;
  background: white !important;
}

.nav-tabs > li.invalidTab.active > a::after, .nav-tabs > li.invalidTab > a:hover::after, .nav-tabs > li.invalidTab.active > a:hover::after{
  background: #FF6600 none repeat scroll 0% 0% !important;
}
.nav-tabs > li.invalidTab > a::after{
  background: white none repeat scroll 0% 0% !important;
}