<div class="col-md-11">
    <nav class="navbar-inverse navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color: white !important"> Kuchnia po sąsiedzku </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li *ngIf="!loginService.isLogged()"><a [routerLink]="['/registration']"><i
                        class="fa fa-user-plus fa-navbar"
                        aria-hidden="true"></i>
                    Zarejestruj </a></li>
                <li *ngIf="!loginService.isLogged()"><a [routerLink]="['/login']"><i class="fa fa-sign-in fa-navbar" aria-hidden="true"></i> Zaloguj
                </a></li>
                <li *ngIf="loginService.isLogged()">
                    <main-search></main-search>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 15px">
                <li class="dropdown" *ngIf="loginService.isLogged()">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-navbar"></i> {{getMyNick()}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/profile/myprofile']"><i class="fa fa-fw fa-user fa-navbar-menu"></i> Profil</a>
                        </li>
                        <li>
                            <a [routerLink]="['messagebox']"><i class="fa fa-fw fa-envelope fa-navbar-menu"></i> Wiadomości </a>
                        </li>
                      <!--  <li>
                            <a href="javascript:;"><i class="fa fa-fw fa-gear fa-navbar-menu"></i> Ustawienia</a>
                        </li>-->
                        <li>
                            <a [routerLink]="['/profile/myprofile/events']"><i class="fa fa-fw fa-cutlery fa-navbar-menu"
                                                                     aria-hidden="true">
                            </i> Moje wydarzenia</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="logout()">
                                <i class="fa fa-fw fa-power-off fa-navbar-menu"></i> Wyloguj
                            </a>
                        </li>
                        <li *ngIf="sharedService.getIsAdmin();">
                            <a class="dropdown-item" href="javascript:" [routerLink]="['/admin']">
                                <i class="fa fa-fw fa-user-secret fa-navbar-menu"></i> Panel Admina </a>
                       </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
</div>
