<div class="well-kitchen">
    <p> Do: {{message.nickRecipient}} </p>
    <p> Wysłana: {{message.dateOfSend | date | polishDate}}</p>

    <hr>
    {{message.title}}
    <hr>
    {{message.messageContents}}
</div>
